<ul>
	<h3>Status</h3>
	<li><%= name %></li>
	<li>x ➜ <%= x %></li>
	<li>y ➜ <%= y %> px</li>
	<li>lat ➜ <%= parseInt(lat*10000)/10000 || 0 %></li>
	<li>lon ➜ <%= parseInt(lon*10000)/10000 || 0 %></li>
</ul>
