<div class="row">
	<div class="toggle hide-data small-1 columns"></div>			
	<label class="lithology-data small-22 columns lithology-label"><%= name %></label>
	<div class="small-22 columns lithology-form hide">
		<div class="row">
			<div class="columns small-14">
				<label for="lithology-name" class="data-labels">Name</label>
				<input type="text" value="<%= name %>" name="lithology-name">
			</div>
			<div class="columns small-10">
				<label>Line Style</label>
				<select class="small-18 columns lithology-line-style" style="height: 37px; width: 100%">
					<option class="line-style" value="solid" selected>solid</option>
					<option class="line-style" value="dashed">dashed</option>
					<option class="line-style" value="dotted">dotted</option>
					<option class="line-style" value="wavy">wavy</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="columns small-8">
				<label>Calib.</label>
				<input type="number" value="<%= Math.round((1 - base.get('relativeY'))*1000)/10 %>" name="lithology-base-relativeY" min="0.1" max="99.9" step="0.1">
			</div>
			<div class="columns small-10">
				<label>Pattern</label>
				<select class="lithology-pattern" value="<% pattern %>">
					<option class="pattern-option" value="none">None</option>
					<% for (var key in app.patternsData) { %>
						<% if (pattern === key) { %>
							<option class="pattern-option" value="<%= key %>" selected><%= app.patternsData[key].name %></option>
						<% } else { %>
							<option class="pattern-option" value="<%= key %>"><%= app.patternsData[key].name %></option>
						<% } %>
					<% } %>
				</select>
			</div>
			<div class="small-6 columns">
				<label for="lithology-image">-</label>
				<input type="text" class="lithology-image">
			</div>
		</div>
		<div class="row">
			<div class="columns small-24">
				<label>Description</label>
				<textarea name="lithology-description" placeholder="No description yet!"><%= description %></textarea>
			</div>
		</div>
		<div class="row">
			<div class="columns small-14">
				<label for="lithology-member-name" class="data-labels">Member Name</label>
				<input type="text" value="<%= memberName %>" name="member-name">
			</div>
		</div>
	</div>
	<div class="small-1 columns"><a href="#" class="destroy"></a></div>
</div>
