<div class="row">
	<div class="toggle hide-data small-3 columns"></div>			
	<label class="lithology-data small-18 columns lithology-label"><%= name %></label>
	<div class="small-18 columns lithology-form hide">
		<div class="row">
			<div class="columns small-14">
				<input type="text" value="<%= name %>" name="lithology-name">
			</div>
			<div class="columns small-10">
				<select class="small-18 columns lithology-line-style" style="height: 37px; width: 100%">
					<option class="line-style" value="solid" selected>solid</option>
					<option class="line-style" value="dashed">dashed</option>
					<option class="line-style" value="dotted">dotted</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="columns small-18">
				<select class="lithology-pattern" value="<% pattern %>">
					<option class="pattern-option" value="none">None</option>
					<% for (var key in app.patternsData) { %>
						<% if (pattern === key) { %>
							<option class="pattern-option" value="<%= key %>" selected><%= app.patternsData[key].name %></option>
						<% } else { %>
							<option class="pattern-option" value="<%= key %>"><%= app.patternsData[key].name %></option>
						<% } %>
					<% } %>
				</select>
			</div>
			<div class="small-6 columns">
				<input type="text" class="lithology-image">
			</div>
		</div>
		<div class="row">
			<div class="columns small-24">
				<textarea name="lithology-description" placeholder="No description yet!"><%= description %></textarea>
			</div>
		</div>
	</div>
	<div class="small-3 columns"><a href="#" class="destroy"></a></div>
</div>
