<h3><%= name %></h3>
<table>
	<thead></thead>
	<tbody>
		<tr>
			<th><%= name %></th>
			<th>lithology</th>
			<th><%= width %></th>
			<th><%= CssToTscColor(settings.get('backgroundColor')) %></th>
			<th><%= description %></th>
		</tr>
		<% for (var i=0; i < lithologys.length; i++) { %>
			<% var lithology = lithologys.at(i); %>
			<tr>
				<td></td>
				<td><%= lithology.get("name") %></td>
				<td><%= lithology.get("base").get("age") || "n/a" %></td>
				<td><%= lithology.get('base').get('style') %></td>
				<td><%= (lithology.get('description') || "")%></td>
				<td><%= CssToTscColor(lithology.get('settings').get('backgroundColor')) %></td>
			</tr>
		<% } %>
	</tbody>
</table>
