<div class="row">
	<div class="export-nav-section columns small-6 large-3">
		<ul class="side-nav">
		<% for (var i=0; i<transects.length; i++) { %>
				
			<% if (i == 0) { %>
				<% var wellLeft = transects[i].wellLeft.get('id') %>
				<li><a class="active" href="#<%= wellLeft %>"><%= transects[i].wellLeft.get('name') %> |</a></li>
			<% } %>
			
			<% var transect = transects[i].id %>
			<li><a href="#<%= transect %>"><%= transects[i].name %> ||</a></li>
			
			<% var wellRight = transects[i].wellRight.get('id') %>
			<li><a href="#<%= wellRight %>"><%= transects[i].wellRight.get('name') %> |</a></li>

		<% } %>	
		</ul>
	</div>
	<div class="export-data-section columns small-18 large-21">
		<div class="button-bar sticky">
			<ul class="button-group round right">
				<li><a href="#show-table" class="show-data tiny button secondary alert">table</a></li>
				<li><a href="#show-raw" class="show-data tiny button secondary">text</a></li>
				<li><a href="#show-map-data" class="show-data tiny button secondary">map</a></li>
				<!-- <li><a href="#show-json" class="show-data tiny button secondary">json</a></li> -->
			</ul>
		</div>
		<div class="data-table transect-data">
			<% for (var i=0; i<transects.length; i++) { %>
				
				<% if (i == 0) { %>
					<% var wellLeft = transects[i].wellLeft.get('id') %>
					<div id="<%= wellLeft %>"></div>
				<% } %>
				
				<% var transect = transects[i].id %>
				<div id="<%= transect %>"></div>
				
				<% var wellRight = transects[i].wellRight.get('id') %>
				<div id="<%= wellRight %>"></div>

			<% } %>
		</div>
		<div class="data-raw hide transect-data"><textarea name="transect-data-text" readonly=></textarea></div>
		<div class="data-json hide transect-data"><textarea name="transect-data-json" readonly=></textarea></div>
		<div class="map-data hide transect-data"><textarea name="transect-map-data" readonly=></textarea></div>
	</div>
</div>