<div class="row">
	<div class="toggle hide-data small-3 columns"></div>
	<lable class="polygon-data small-15 columns"><%= name %> → <%= patternName || "none" %></lable>
	<div class="small-15 columns polygon-form hide">
		<input type="text" value="<%= name %>" name="polygon-name">
		<textarea name="polygon-description" placeholder="No description yet!"><%= description %></textarea>
	</div>
	<div class="small-3 columns"><a href="#" class="to-front"></a></div>
	<div class="small-3 columns"><a href="#" class="destroy"></a></div>
</div>
<div class="row polygon-form">
	<div class="small-3 columns">↳</div>
	<label class="polygon-line-data small-21 columns">Lines</label>
	<ul class="lines-list polygon-line-form small-21 columns hide"></ul>
</div>
<div class="row polygon-form">
	<div class="small-3 columns">↳</div>
	<label class="polygon-point-data small-21 columns">Points</label>
	<ul class="points-list polygon-point-form small-21 columns hide"></ul>
</div>
<div class="row polygon-form">
	<div class="small-3 columns">↳</div>
	<label class="polygon-pattern-data small-21 columns">Pattern</label>
	<div class="patterns-list polygon-pattern-form small-21 columns hide">
		<div class="row">
			<select class="small-18 columns polygon-pattern" value="<% patternName %>">
				<option class="pattern-option" value="none">None</option>
				<% for (var pattern in tscApp.PATTERNS) { %>
					<% if (patternName === pattern) { %>
						<option class="pattern-option" value="<%= pattern %>" selected><%= pattern %></option>
					<% } else { %>
						<option class="pattern-option" value="<%= pattern %>"><%= pattern %></option>
					<% } %>
				<% } %>
			</select>
			<div class="patterns-image small-6 columns"></div>
		</div>
	</div>
</div>
