<ul>
	<h3>Status</h3>
	<li><%= name %></li>
	<li><%= transect.get('name') %></li>
	<li><%= zone.get('name') %></li>
<!-- 	<li>x ➜ <%= x %> px</li>
	<li>y ➜ <%= y %> px</li> -->
	<li>age ➜ <%= age || "na" %></li>
	<li>relX ➜ <%= Math.round(relativeX*100) %> %</li>
	<li>relY ➜ <%= Math.round(relativeY*100) %> %</li>
</ul>