<td class="toggle hide-data" width="3%"></td>
<td  width="96%">
	<div class="row">
		<label class="well-data large-12 columns"><%= name %>【<%= lat %>,<%= lon %>】</label>
		<div class="well-form hide">
			<div class="large-6 columns">
				<label>well</label>
				<input type="text" value="<%= name %>" name="well-name">
			</div>
			<div class="large-3 columns">
				<label>Lat</label>
				<input type="text" name="well-lat" value="<%= lat %>">
			</div>
			<div class="large-3 columns">
				<label>Lon</label>
				<input type="text" name="well-lon" value="<%= lon %>">
			</div>
		</div>
	</div>
	<div class="well-form row hide large-12 columns">
		<a href="#update-well" class="button secondary right small radius">update</a>
	</div>
</td>
<td class="destroy" width="3%"></td>
