<% var precision = transectApp.precision; %>
<% var steps = transectApp.steps; %>
<h3><%=  data.get('name') %></h3>
<table>
	<thead></thead>
	<tbody>
		<tr>
			<th><%= data.get('name') %></th>
			<th>transect</th>
			<th>300</th>
			<th>255/255/255</th>
			<th>on</th>
			<% for (var i = 0; i <= steps + 2 - 5; i++) { %>
			<th></th>
			<% } %>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<% for (var i = 0; i <= steps; i++) { %>
			<th><%= i*precision %></th>
			<% } %>
		</tr>
		<% var keys = Object.keys(matrix); %>
		<% keys = _.sortBy(keys, function(age){ return parseFloat(age); }); %>
		<% for (var a in keys) { %>
			<tr>
				<td></td>
				<td><%= keys[String(a)] %></td>
				<% for (var i in matrix[keys[String(a)]]) { %>
				<% var point = matrix[keys[String(a)]][i]; %>
				<td><%= point %></td>
				<% } %>
			</tr>
		<% } %>
		<% for (var i=0; i < polygons.length; i++) { %>
			<% var polygon = polygons[i]; %>
			<tr>
				<td>POLYGON</td>
				<td>pattern: <%= polygon.pattern || "None" %></td>
				<td><%= polygon.name %></td>
				<% for (var k = 0; k <= steps + 2 - 3; k++) { %>
				<td></td>
				<% } %>
			</tr>
			
			<% for (var j=0; j<polygon.lines.length; j++) { %>
				<% var line = polygon.lines.at(j); %>
				<% var point1 = line.get('point1'); %>
				<% var point2 = line.get('point2'); %>
				<% var patternName = line.get('pattern'); %>
				
				<tr>
					<td></td>
					<td><%= point1.get('name').substring(1) %></td>
					<td></td>
					<% for (var k = 0; k <= steps + 2 - 3; k++) { %>
					<td></td>
					<% } %>
				</tr>
				<% if (patternName !== "default") { %>
					<td></td>
					<td></td>
					<td><%= patternName %></td>
					<% for (var k = 0; k <= steps + 2 - 3; k++) { %>
					<td></td>
					<% } %>
				<% } %>
			<% } %>

		<% } %>
	</tbody>
</table>