<div class="row">
	<div class="toggle hide-data small-3 columns"></div>
	<div class="columns small-17">
		<div class="row">
			<label class="well-data small-24 columns"><%= name %>【 lat: <%= lat || "NA" %>, lon: <%= lon || "NA" %> 】</label>
			<div class="small-10 columns well-form hide">
				<input type="text" value="<%= name %>" name="well-name">
			</div>
			<div class="small-7 columns well-form hide">
				<input type="text" name="well-lat" value="<%= lat %>">
			</div>
			<div class="small-7 columns well-form hide">
				<input type="text" name="well-lon" value="<%= lon %>">
			</div>			
		</div>
		<div class="row">
			<div class="small-24 columns well-form hide">
				<textarea name="well-description" placeholder="You haven't written any description yet."><%= description%></textarea>
			</div>
		</div>
	</div>
	<div class="small-4 columns"><a href="#" class="destroy"></a></div>
</div>
