<div class="row">
	<div class="toggle hide-data small-3 columns"></div>			
	<label class="well-data large-17 columns"><%= name %>【 lat: <%= lat || "NA" %>, lon: <%= lon || "NA" %> 】</label>
	<div class="small-7 columns well-form hide">
		<input type="text" value="<%= name %>" name="well-name">
	</div>
	<div class="small-5 columns well-form hide">
		<input type="text" name="well-lat" value="<%= lat %>">
	</div>
	<div class="small-5 columns well-form hide">
		<input type="text" name="well-lon" value="<%= lon %>">
	</div>
	<div class="small-4 columns"><a href="#" class="destroy"></a></div>
</div>
