<h3><%=  data.get('name') %></h3>
<table>
	<thead>
		<tr>
			<th><%=  data.get('name') %></th>
			<th>facies</th>
			<th><%= data.get('width') %></th>
			<th><%= CssToTscColor(data.get('settings').get('backgroundColor')) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Primary</td>
		</tr>
		<% for (var i in referencePoints) { %>
		<tr>
			<td></td>
			<td><%= referencePoints[i].pattern || "None" %></td>
			<td><%= referencePoints[i].name %></td>
			<td><%= referencePoints[i].point.get('age') || 0 %></td>
			<td><%= "CALIBRATION = " + Math.round(((1 - referencePoints[i].point.get('relativeY'))*1000))/10 + " % up the " + referencePoints[i].point.get('zone').get('name') + "\t"%></td>
		</tr>
		<% } %>
	</tbody>
</table>