<h3><%=  data.get('name') %></h3>
<table>
	<thead>
		<tr>
			<th><%=  data.get('name') %></th>
			<th>facies</th>
			<th><%= data.get('width') %></th>
			<th><%= CssToTscColor(data.get('settings').get('backgroundColor')) %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Primary</td>
		</tr>
		<% var sortedPoints = _.sortBy(referencePoints, function(referencePoint) {return referencePoint.point.get('age');}); %>
		<% for (var i in sortedPoints) { %>
		<tr>
			<td></td>
			<td><%= sortedPoints[i].pattern || "None" %></td>
			<td><%= sortedPoints[i].name %></td>
			<td><%= sortedPoints[i].point.get('age') || 0 %></td>
		</tr>
		<% } %>
	</tbody>
</table>