<div class="file left">
	<% if (isFile) { %>
		<% if (type == "txt") { %>
			<div class="download-link text-right"><a href="<%= url %>" title="download file" download="<%= name %>">⬇︎</a></div>
			<div class="file-icon icons_black_48-doc_lines_stright_icon_48"></div>
		<% } else { %>
			<div class="download-link text-right"><a href="<%= url %>" title="download file" download="<%= name %>">⬇︎</a></div>
			<div class="file-icon icons_black_48-document_icon_48"></div>
		<% } %>
	<% } else { %>
		<div class="download-link"></div>
		<div class="file-icon icons_black_48-folder_icon_48"></div>
	<% } %>
	<div class="file-name" contenteditable><%= name %></div>
</div>