<div class="curve-html-preview">

<h3><%= this.name %></h3>
<table>
  <thead>
    <tr>
      <th><%= this.name %></th>
      <th>point</th>
      <th><%= this.width ? this.width : 200 %></th>
      <th><%= TSCreator.utils.color.cssToTscColor(this.backgroundColor ? this.backgroundColor : "#FFFFFF") %></th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th><%= option.get("isShowPoints") ? "circle" : "nopoints" %></th>
      <th><%= option.get("isShowLines") ? "line" : "noline" %></th>
      <th><%= option.get("isFillCurve") ? TSCreator.utils.color.cssToTscColor(option.get("fillColor")) : "nofill" %></th>
      <th><%= rangeMin %></th>
      <th><%= rangeMax %></th>
      <th><%= option.get("isSmoothed") ? "smoothed" : "notsmoothed" %></th>
    </tr>
  </thead>
  <tbody>
    <% points.each(function(p) { %>
      <tr>
        <td>&nbsp;</td>
        <td><%= p.get("age") %></td>
        <td><%= p.get("value") %></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    <% }) %>
  </tbody>
</table>

</div>
